.roleCard {
  background: rgb(84, 81, 81);
  box-shadow: 10px 10px 0px 0px rgba(204, 188, 188, 0.75);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(204, 188, 188, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(204, 188, 188, 0.75);
}

@media screen and (max-width: 574px) {
  .roleCard {
    background: transparent;
    box-shadow: none;
    color: black;
    border: none;
    font-weight: 700;
  }
}
