.nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  background: black;
}

.logo {
  /* transform: scale(0.4); */
  height: 60px;
}

.mobileNav {
  height: 100vh;
  width: 100%;
  background: #212529;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
.mobileNav a {
  text-decoration: none;
  color: honeydew;
  margin: 2rem 0;
  font-size: clamp(1.5rem, 3vh, 3rem);
  transition: transform 0.5s ease-in-out;
}
.mobileNav a:hover {
  color: rgb(204, 211, 204);
  transform: scale(1.2);
}

.listDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.desktopList {
  display: block;
}
@media screen and (max-width: 767px) {
  .desktopList {
    display: none;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list a {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 0.8rem 0.8rem;
  padding: 0;
  letter-spacing: 0.3rem;
  list-style-type: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.list a:after,
.list a:before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 0px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.5s;
}

.list a:before {
  left: 50%;
}

.list a:after {
  right: 50%;
}

.list a:hover:before,
.list a:hover:after {
  width: 50%;
  opacity: 1;
}
