.back {
  background: url("../Images/personalityDev.jpg") no-repeat center center/cover;
  width: 100%;
  height: 870px;
  position: relative;
}
.backOverlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
}
.cardColor {
  background: #fcb515;
  box-shadow: 7px 7px 0px 2px rgba(252, 181, 21, 0.35);
  -webkit-box-shadow: 7px 7px 0px 2px rgba(252, 181, 21, 0.35);
  -moz-box-shadow: 7px 7px 0px 2px rgba(252, 181, 21, 0.35);
}

.cardAnimation {
  transition: all 0.2s ease-in-out;
}

.cardAnimation:hover {
  transform: scale(1.1);
}

.cardShadow {
  box-shadow: 7px 7px 0px 2px rgba(225, 212, 212, 0.75);
  -webkit-box-shadow: 7px 7px 0px 2px rgba(225, 212, 212, 0.75);
  -moz-box-shadow: 7px 7px 0px 2px rgba(225, 212, 212, 0.75);
}

.enrollBtn {
  outline: none;
  transition: all 0.5s ease-in-out;
}
.enrollBtn:hover {
  transform: scale(1.05);
  color: black;
}
