.logo-div:hover {
  cursor: pointer;
  box-shadow: 0 0 0 10px #3a4750;
  background-color: #3a4750;
}
.logo-div {
  transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 50%;
  transform: translateX(26px);
}
.SecondaryHeading {
  font-size: 150%;
  padding-inline: 10%;
  margin-bottom: 15px;
}
.SecondaryText {
  font-size: 120%;
  padding-inline: 10%;
  margin: 0;
}
.logos {
  margin-top: 15px;
  padding-inline: 10%;
}
html {
  scroll-behavior: smooth;
}
